
body {
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

pre, code, pre code {
    border: none;
    border-radius: 0;
    background-color: #f6f6f6;
    font-size: 1em;
}

.highlight {
    background-color: #f6f6f6;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}

#header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

#header a:hover {
    text-decoration: none;
}

#footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}

#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}


#navigation {
    font-size: 0.9em;
}

#navigation li a {
    padding-left: 10px;
    padding-right: 10px;
}

#navigation .nav-header {
    padding-left: 0;
    padding-right: 0;
}

body.rtl {
	direction: rtl;
}

body.rtl #header .brand {
	float: right;
    margin-left: 5px;
}
body.rtl .row-fluid [class*="span"] {
	float: right !important;
	margin-left: 0;
	margin-right: 2.564102564102564%;
}
body.rtl .row-fluid [class*="span"]:first-child {
	margin-right: 0;
}

body.rtl ul, body.rtl ol {
    margin: 0 25px 10px 0;
}

table {
  margin-bottom: 1rem;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

/*Added for karyoploteR*/

h1 {
    font-weight: 600;
    padding-bottom: 0.3em;
    font-size: 2.5em;
    border-bottom: 1px solid #eaecef;
    margin-top: 24px;
    margin-bottom: 16px;

}

h2 {
    padding-bottom: 0.3em;
    font-size: 1.8em;
    border-bottom: 1px solid #eaecef;
    margin-top: 24px;
    margin-bottom: 16px;
}

h3 {
  margin-top: 24px;
  margin-bottom: 16px;
}

/* Center all images (by default) and make them "responsive" with witdh=100% and height=auto */
img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: auto;
}
  
p {
  margin-bottom: 16px;
}

#content {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding-left: 2em;
  padding-right: 2em;
}

/*Off-canvas nav bar from http://www.bootply.com/new?visual=1 */

body {
  padding-top: 51px;  
}
.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}

#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width: 0px;
  margin: 0;
}

.nav>li {
    position: relative;
    display: block;
    margin: 0;
}

.mynav>li>a {
  padding: 0;
}

.mynav>.section-header>.nav-link {
  padding: 0.5rem;
  border-bottom: 1px solid #eaecef;
  border-top: 1px solid #eaecef;
  margin-top: 5px;
  font-weight: 800;
}

.mynav>.subsection-header {
  padding: 0.5rem;
  margin-left: 0.5rem;
  font-weight: 500;
}

.mynav>.nav-2 {
  padding-left: 0.5rem;
}

.mynav>.nav-3>.nav-link {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
}

.mynav>.nav-3 {
  padding-left: 1rem;
}

.nav>li {
    position: relative;
    display: block;
    margin: 0;
}

.nav-item {
  padding: 0;
}

.current:before {
   position:absolute;
	content:"";
	top:50%;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	margin-left:-12px;
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid black;
}



/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
 
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -58.3%;
  }
  .row-offcanvas-left
  .sidebar-offcanvas.active {
    left: 0;
  }
 
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 58.3%;
    background-color: white;
    border-right: 1px solid #eaecef;
    box-shadow: 2px 0px 5px #eaecef;
    -webkit-transition: all 0.20s ease-out;
    -moz-transition: all 0.20s ease-out;
    transition: all 0.20s ease-out;
    z-index: 99;
  }
  
  
  #sidebar {
    padding-top:0;
  }
}

