
body {
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

pre, code, pre code {
    border: none;
    border-radius: 0;
    background-color: #f6f6f6;
    font-size: 1em;
}

.highlight {
    background-color: #f6f6f6;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}

#header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

#header a:hover {
    text-decoration: none;
}

#footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}

#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}


#navigation {
    font-size: 0.9em;
}

#navigation li a {
    padding-left: 10px;
    padding-right: 10px;
}

#navigation .nav-header {
    padding-left: 0;
    padding-right: 0;
}

body.rtl {
	direction: rtl;
}

body.rtl #header .brand {
	float: right;
    margin-left: 5px;
}
body.rtl .row-fluid [class*="span"] {
	float: right !important;
	margin-left: 0;
	margin-right: 2.564102564102564%;
}
body.rtl .row-fluid [class*="span"]:first-child {
	margin-right: 0;
}

body.rtl ul, body.rtl ol {
    margin: 0 25px 10px 0;
}

table {
  margin-bottom: 1rem;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

/*Added for karyoploteR*/

h1 {
    font-weight: 600;
    padding-bottom: 0.3em;
    font-size: 2.5em;
    border-bottom: 1px solid #eaecef;
    margin-top: 24px;
    margin-bottom: 16px;

}

h2 {
    padding-bottom: 0.3em;
    font-size: 1.8em;
    border-bottom: 1px solid #eaecef;
    margin-top: 24px;
    margin-bottom: 16px;
}

h3 {
  margin-top: 24px;
  margin-bottom: 16px;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
  
p {
  margin-bottom: 16px;
}

#content {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding-left: 2em;
  padding-right: 2em;
}

